.row3_album{
    width: 500px;
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
    height: 390px;
}
.row3title_album{
    flex: 0.1;
    margin-bottom: 10px;
    width: 100%;
    background-color: #9fc5e8;
    border-radius: 3px;
    color: black;
    font-family: 'KyoboHand';
    text-align: center;
    font-size: 18px;
    padding: 5px;
}
.over{
    padding-top: 10px;
    padding-bottom: 5px;
    flex: 0.9;
  }.over > img{
    width: 80%;
  }.over > p{
    font-family: 'KyoboHand';
    font-size: 17px;
    color: black;
  }

  .overDarkMode{
    padding-top: 10px;
    padding-bottom: 5px;
    flex: 0.9;
  }.overDarkMode > img{
    width: 80%;
  }.overDarkMode > p{
    font-family: 'KyoboHand';
    font-size: 17px;
    color: white;
  }
