@import url("https://fonts.googleapis.com/css2?family=Jua&family=Roboto:ital,wght@1,300&display=swap");

* {
  font-family: "Jua", sans-serif;
}

body {
  background-color: #ffffff;
}

.wrapImg {
  text-align: center;
}

.introContent {
  margin: 50px;
  color: #000000;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  background-color: antiquewhite;
  padding-top: 10px;
  padding-bottom: 5px;
  border: 3px dashed #000000;
}

.wrapHobby {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.hobbyContent {
  line-height: 120px;
  text-align: center;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border: 3px dashed #000000;
  background-color: antiquewhite;
}

h3 {
  text-align: center;
  background-color: white;
}

.wrapSpecial {
  margin: auto;
  width: 300px;
  height: 300px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.specialContent {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  bottom: 0px;
  overflow: hidden;
}

.specialContent h3 {
  width: 300px;
  height: 300px;
  line-height: 300px;
  background-color: antiquewhite;
}

.wrapSpecial:hover .specialContent {
  bottom: 200px;
}

.hideContent {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 150px;
}
